.main-header{
    background-color: #fff;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 8px 8px #0005;
    z-index: 1;
}
.main-header .logo{
    font-size: 2rem;
    line-height: 1em;

}
.main-header > .btn{
    cursor: pointer;
}